<div class="">
    <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
                {{ fields.field_team_member_image.content }}
            <div class="social">
                {{ fields.field_social_media_links.content }}
            </div>
        </div>
        <div class="member-info">
            <h4>{{ fields.field_team_member_name.content }}</h4>
            <span>{{ fields.field_member_designation.content }}</span>
        </div>
    </div>
</div>

