<!-- {{ dump(fields.field_team_member_image.content) }} -->
<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
            <!-- <img src="" class="img-fluid" alt=""> -->
            {{ fields.field_team_member_image.content }}
            <div class="social">
                {% for item in fields.field_social_media_links %}
                <h2> Link iteration works??</h2>
                        <a href=""><i class="bi bi-facebook"></i></a>
                {% endfor %}
                <!-- <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a> -->
            </div>
        </div>
        <div class="member-info">
            <h4>{{ fields.field_team_member_name.content }}</h4>
            <span>{{ fields.field_member_designation.content }}</span>
        </div>
    </div>
</div>

