{% set box_icon_class = paragraph.field_box_icons_class.value %}

<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
    <div class="icon-box">
        <div class="icon"><i class="{{ box_icon_class }}"></i></div>
        <h4><a href="">{{ paragraph.field_service_title.value }}</a></h4>
        <p>{{ paragraph.field_service_description.value }}</p>
    </div>
</div>