<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              {{ content.field_about_image  }}
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>{{ content.field_about_title_long[0] | raw }}</h3>

          {{ content.field_about_description[0] | raw }}
        </div>
      </div>

    </div>
  </section>