<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <!-- <div class="image col-lg-6" style='background-image: url("{{ base_path ~ directory }}/images/features.jpg");' data-aos="fade-right"></div> -->
      <div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            {{ content }}
      </div>
    </div>

  </div>
</section>
