<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>{{ service_block_title }}</h2>
        {{ content.field_service_title }}
        </div>

        <div class="row">
            {{ content.field_services }}
        </div>

    </div>

</section>