<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Team</h2>
            <p> {{ label }} </p>
        </div>
        <div class="row">
            {{ content }}
        </div>
    </div>
</section>