{% macro menu_links(items) %}
{% import _self as macros %}
    {% for item in items %}
    <li class="navigation__item">
        <a href="{{ item.url }} nav-link scrollto">{{ item.text}}</a>
        {% if item.submenu %}
        <ul>
            {{ macros.menu_links(item.submenu) }}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

{% set items = simplify_menu('main') %}
<header id="header" class="fixed-top header-scrolled">

    <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a href="#">Gp<span>.</span></a></h1>
        <!-- .navbar -->

<nav class="navigation__items">
    <ul class="main-menu">
        {{ macros.menu_links(items.menu_tree) }}
    </ul>
</nav>

</nav>
<!-- .navbar -->

<a href="#about" class="get-started-btn scrollto">Get Started</a>
</div>
</header>